/*
ENLIVEN fonts

- included:
  - theanodidot-bold-webfont.ttf
  - theanodidot-regular-webfont.ttf
  - avenirnext-bold.ttf
  - avenirnext-demibold.ttf
  - avenirnext-regular.ttf
- not yet included:
  - avenirnext-bolditalic.ttf
  - avenirnext-demibolditalic.ttf
  - avenirnext-heavy.ttf
  - avenirnext-heavyitalic.ttf
  - avenirnext-italic.ttf
  - avenirnext-medium.ttf
  - avenirnext-mediumitalic.ttf
  - avenirnext-ultralight.ttf
  - avenirnext-ultralightitalic.ttf
 */
@font-face {
    font-family: "TheanoDidot-Regular";
    src        : url("https://style.enliven.co/fonts/theanodidot/theanodidot-regular-webfont.eot");
    src        : url("https://style.enliven.co/fonts/theanodidot/theanodidot-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://style.enliven.co/fonts/theanodidot/theanodidot-regular-webfont.woff2") format("woff2"), url("https://style.enliven.co/fonts/theanodidot/theanodidot-regular-webfont.woff") format("woff"), url("https://style.enliven.co/fonts/theanodidot/theanodidot-regular-webfont.ttf") format("truetype"), url("https://style.enliven.co/fonts/theanodidot/theanodidot-regular-webfont.svg#TheanoDidot-Regular") format("svg");
    font-weight: 300;
    font-style : normal;
}
@font-face {
    font-family: "TheanoDidot-Bold";
    src        : url("https://style.enliven.co/fonts/theanodidot/theanodidot-bold-webfont.eot");
    src        : url("https://style.enliven.co/fonts/theanodidot/theanodidot-bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://style.enliven.co/fonts/theanodidot/theanodidot-bold-webfont.woff2") format("woff2"), url("https://style.enliven.co/fonts/theanodidot/theanodidot-bold-webfont.woff") format("woff"), url("https://style.enliven.co/fonts/theanodidot/theanodidot-bold-webfont.ttf") format("truetype"), url("https://style.enliven.co/fonts/theanodidot/theanodidot-bold-webfont.svg#TheanoDidot-Regular") format("svg");
    font-weight: 300;
    font-style : normal;
}
@font-face {
    font-family: "AvenirNextLTPro-Regular";
    src        : url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-regular.eot");
    src        : url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-regular.eot?#iefix") format("embedded-opentype"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-regular.woff2") format("woff2"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-regular.woff") format("woff"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-regular.ttf") format("truetype"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-regular.svg#AvenirNextLTPro-Regular") format("svg");
    font-weight: 300;
    font-style : normal;
}
@font-face {
    font-family: "avenirnext-bold";
    src        : url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-bold.eot");
    src        : url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-bold.eot?#iefix") format("embedded-opentype"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-bold.woff2") format("woff2"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-bold.woff") format("woff"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-bold.ttf") format("truetype"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-bold.svg#avenirnext-bold") format("svg");
    font-weight: 300;
    font-style : normal;
}
@font-face {
    font-family: "avenirnext-demibold";
    src        : url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-demibold.eot");
    src        : url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-demibold.eot?#iefix") format("embedded-opentype"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-demibold.woff2") format("woff2"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-demibold.woff") format("woff"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-demibold.ttf") format("truetype"), url("https://style.enliven.co/fonts/avenir-next-lt-pro/avenirnext-demibold.svg#avenirnext-demibold") format("svg");
    font-weight: 300;
    font-style : normal;
}
